# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class
*.so

# ===============================
# Virtual Environment
# ===============================
venv310/
venv/
env/
.venv/
ENV/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/
*.nbconvert.ipynb

# ===============================
# Data (VERY IMPORTANT)
# ===============================
data/
*.nii
*.nii.gz
*.nrrd

# ===============================
# Experiments / Model Weights
# ===============================
experiments/
*.pth
*.pt
*.ckpt

# ===============================
# Logs
# ===============================
logs/
*.log
*.out

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VSCode / IDE
# ===============================
.vscode/
.idea/

# ===============================
# Matplotlib / Cache
# ===============================
.matplotlib/
.cache/

# ===============================
# Torch
# ===============================
*.tar
*.zip

# ===============================
# Temporary Files
# ===============================
*.tmp
*.temp
*.swp
